
footer
    position absolute
    bottom 0 !important
    width 100%
    background-color #141e30!important
    & > div
        & > div
            & > img
                display inline-block
                width 20px
                height 20px
                opacity 0.5
                line-height 40px
                vertical-align middle
                margin 0 1px
            & > p
                display inline-block
                color #fff
                margin 0
                letter-spacing 0.5px
                font-size 13px
                font-weight 400
            & > a
                opacity 0.7
                & > h6
                    line-height 20px
                    color #fff
                    font-size 14px
                    &:hover
                        opacity 0.5
                &.smkn7
                    background-image url('../img/cie2.svg')
                    width 120px
                    height 120px
                    display block
                    position relative
                    left 0
                    right 0
                    margin 0 auto 10px
                &:hover
                    opacity 0.4
            &.kontak
                margin 10px 0 0
            &.copyright
                & > p
                    font-size 10px
                    opacity 0.5
    i
        color #00d1b2
