
#login
    padding 100px 0
    figure
        margin-bottom 15px
    img
        width 190px
        height 140px
        position relative
        left 5%
        right 0
    h3
        &.title
            color grey
    p
        &.subtitle
            color grey
            padding-top 10px
            font-size 12px
    .card
        background-color #fff
        box-sizing border-box
        padding 0 20px
        box-shadow none
        -webkit-box-shadow 0 0 15px #141e30
        box-shadow 0 0 15px #141e30
    input
        border none
        box-shadow none
        color #141e30
        font-size 14px
        padding 10px auto
        font-weight 100
        background none
        border-bottom 0.5px solid lightgray
        margin 5px 0
        &:focus
            border-bottom-color #00d1b2
    button
        width 100%
        font-weight bold
        letter-spacing -1px
        text-transform uppercase
        height 100%
    i
        color #00d1b2